/* header */

.header {
  display: flex;
  max-width: 100vw;
  height: 4.5rem;
  padding: 0rem 9.5625rem 0rem 2rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: rgba(45, 63, 108, 0.5);
  backdrop-filter: blur(1rem);
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-shrink: 0;
}

.header .navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  align-self: stretch;
}

/* socials */

.socials {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.socials .circle {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.socials .circle:hover {
  background-color: var(--accent);
}

.socials .logo {
  color: var(--background);
  max-width: 1.5rem;
  max-height: 1.5rem;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.star {
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 0 2px 2px rgb(255, 255, 255, 0.2);
  animation: sparkle linear infinite;
}

@keyframes sparkle {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}
